@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*{
   padding: 0;
   margin: 0;
   list-style: none;
   font-family: 'PT Serif', serif;
   
}
label{
    color: white;
}
nav{
    padding: 15px 0px;
    position: fixed;
    width:99.99%;
    background-color: #ffffff;
    z-index: 100;
    color:rgb(102, 101, 101);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
div nav{
    box-shadow:none;
    background: none;
    position: absolute;
    z-index: 50;
    /* margin-top:860px; */
    margin-left: 1140px;
}
div nav ul li {
    background: none;
}
nav h3{
    color: #2249f393;
}
section h3{
    position: absolute;
    margin-top: 160px;
    text-decoration: underline;
    color: #2249f393;
    /* margin-left: 500px; */
}
section p{
    position: absolute;
    margin-top: 150px;
}
table{
    position: absolute;
    margin-top: 200px;
}
tr{
    border-style: 0;
    
}
.button{
    position: absolute;
    margin-top: 160px;
    margin-left: 530px;
    display: flex;
}
.button button{
    width: 180px;
    margin-left: 5px;
}
.description{
    /* border: 1px solid black; */
    /* display: flex; */
    flex-direction: column;
    width: 30%;
    border-radius:10px;
    margin:auto;
    margin-top:120px;
    background-color: whitesmoke;
    border:1px solid  #2249f393;
}
.description td{
    display: flex;
}
.description .image{
    width: 42%;
    margin: auto;
}
.description .image img{
    border-radius: 50%;
    border: 2px solid  #2249f393;
    cursor:pointer;
}
.description .presentation{
    display: flex;
    align-items: center;
    margin-top: -0.5%;
}
.description .presentation h3{
    margin-top: -0.5%;
    text-decoration:underline;
}
.description .hobbies {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.description .hobbies h3{
    margin-top: -0.5%;
    text-decoration:underline;
}
.description .specialite {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.description .specialite h3{
    text-decoration:underline;
}
.description .top{
    border-bottom:1px solid  #2249f393;
    height:150px;
    padding:7px 0px 8px 0px;
}
.description .bottom{
    height:100px;
    padding:10px;
}
.conseil{
    display: flex;
    align-items: center;
    width:20%;
    /* border:1px solid red; */
    justify-content:space-between;
    margin:auto;
    margin-top:20px;
}
.conseil button{
    background:none;
    border:1px solid  #2249f393;
    padding:10px 20px;
    border-radius:3px;
    cursor:pointer;
    background:#2249f393;
    color:white;
}
form{
    width: 35%;
    overflow: hidden;
    padding: 25px 20px;
    background-color:#2249f393;
    margin-top:100px;
    height:340px;
    margin-left:390px;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
label{
  text-decoration:underline;
}
input{
    display: block;
    width: 96.5%;
    padding: 9px 0px 9px 10px;
    outline:none;
    color:black;
    margin:10px 0px;
    background:whitesmoke;
    border:1px solid white;
    border-radius:3px;
}
#submit{
    width: 30%;
    text-align:center;
    margin: auto;
    /* border:1px solid red; */
    border-radius:5px;
    padding: 9px;
    cursor:pointer;
}
#file{
    color:black;
    border:1px solid white;
    background:whitesmoke;
    padding: 8px 0px 8px 10px;
}
.text-center{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 5px 15px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.text-center .link a{
    color:black;
    text-decoration:none;
    margin-left:25px;
}
.tableau-gauche {
    flex: 1; /* Prendra 1/2 de la largeur du conteneur */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: -2px;
    width: 100%;
    height: 200px;
}

/* Style des cellules du tableau à gauche */
.tableau-gauche td {
    border: 1px solid #ccc;
    padding: 5px;
}
